In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [39]:
df=pd.read_csv('insurance.csv')

In [40]:
df

     age bought_insurance
0   22.0                0
1    NaN                0
2   47.0                1
3   52.0                0
4   46.0                1
5   56.0              ioi
6   55.0                0
7    NaN                1
8   62.0                1
9   61.0                1
10  18.0                0
11  28.0                0
12  27.0                0
13  29.0            nulll
14  49.0                1
15  55.0                1
16  25.0                1
17   NaN             oioi
18  19.0                0
19  18.0                0
20  21.0                0
21  26.0                0
22   NaN                1
23  45.0                1
24  50.0            nulll
25  54.0                1
26  23.0                0

In [41]:
df.head()

    age bought_insurance
0  22.0                0
1   NaN                0
2  47.0                1
3  52.0                0
4  46.0                1

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               23 non-null     float64
 1   bought_insurance  27 non-null     object
dtypes: float64(1), object(1)
memory usage: 560.0+ bytes

In [43]:
x=['age']
y=['bought_insurance']
x=df.iloc[:,0:1]
y=df.iloc[:,1:]

In [44]:
from sklearn.model_selection import train_test_split

In [45]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.20,random_state=10)

In [46]:
xtrain.shape

(21, 1)

In [47]:
xtest.shape

(6, 1)